
  
  nav {
    padding-bottom: 0.5%;
    padding-left: 2%;
    // border-bottom: 5px solid rgb(31, 30, 30);
    align-items: center;
    text-align: right;


    .homeLink-container {
      float:left;
      height: auto;
      left: 50px;

    }

    .homeLink {
    
      
      align-items: center;
      text-align: left;
      text-decoration: var(--text-decoration-line);
      color: white;
      font-size: var(--fontSize_xLarge);
      font-weight: bold;

      @media only screen and (max-width: 750px) {
  
       
          
          font-size: var(--fontSize_large);
          
      
        
       
        
      }
      
      @media only screen and (max-width: 1400px ) and (min-width: 751px) {
        
      }
      
      @media only screen  and (min-width: 1500px) {
        
      }
     
      
  
    }

    .nav-links-container {

      width: 50%;
      float: right;
      font-size: var(--fontSize_xLarge);
      font-weight: bold;

      @media only screen and (max-width: 750px) {

        font-size: var(--fontSize_medium);
    }
  }

    ul {
        li {
            display: inline;
            margin: 2%;
            a {
                color: white;
                text-decoration: var(--text-decoration-line);

                &:hover {
                  cursor: pointer;
                  color: hsl(206 30% 98.8%);
                }
            }
        }
    }



    
  }




  .navProjectDropdown-menu{
    position: absolute;
    
    z-index: 30;
    border-radius: 5px;
    background-color: rgb(74, 73, 73);
    margin-top: 1.1%;
    font-size: 16px;  // font size is 16px
    color: white;
    width: auto;
    height: auto;
    right: 15%;
    top: 3%;
    
  }
  
  .navProjectDropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .navProjectDropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .navProjectDropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  

  
  .navProjectDropdownItem img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }


//---------------------------------------------------------------------------------------------------------------------

.navContactDropdown-menu{
  position: absolute;
  z-index: 30;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 1.1%;
  background-color: rgb(84, 82, 82);
  color: white;
  width: 300px;
  height: auto;
  right: 2%;
  top: 3%;
  

 
  
  
  ul {
    li {
      display: flex;
      font-size: var(--fontSize_medium);  // font size is 16px

      

      
  
      a {
        text-decoration: var(--text-decoration-line);
        background-color: rgb(84, 82, 82);
        margin: 1%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;

        
        
      }
  
      a:hover {
        text-decoration: underline;
      }

  
  }
  }
}

.navContactDropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.navContactDropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.navContactDropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}


.navContactDropdown-menu ul li:hover {
  opacity: .5;
  cursor: pointer;
}




