
  
  nav {
    padding-bottom: 0.5%;
    padding-left: 2%;
    // border-bottom: 5px solid rgb(31, 30, 30);
    align-items: center;
    text-align: right;


    .homeLink-container {
      width: 50%;
      float:left;
      height: auto;
      left: 50px;

    }

    .homeLink {
    
      // border-bottom: 5px solid rgb(31, 30, 30);
      align-items: center;
      text-align: left;
      text-decoration: none;
      color: white;
      
  
    }

    .nav-links-container {

      width: 50%;
      float: right;
    }

    ul {
        li {
            display: inline;
            margin: 2%;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
  }




  .navDropdown-menu{
    position: absolute;
    z-index: 30;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 1.1%;
    background-color: rgb(84, 82, 82);
    color: white;
    width: 150px;
    height: auto;
    left: 68%;
    top: 3%;
    
    
    ul {
      li {
        display: flex;
        font-size: 16px;
        
    
        a {
          text-decoration: none;
          background-color: rgb(84, 82, 82);
          margin: 1%;
          padding-top: 5%;
          padding-bottom: 5%;
          text-align: center;
  
          
          
        }
    
        a:hover {
          text-decoration: underline;
        }
    
    }
    }
  }
  
  .navDropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .navDropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .navDropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  
  
  
  
  .navDropdown-menu ul li:hover {
    opacity: .5;
    cursor: pointer;
  }
  

  
  .navDropdownItem img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  


  
  
  
  
  

  
  
//   @media screen and (max-width: 768px) {
  
  
//     ul,
//     footer,
//     section {
//         display: flex;
//         flex-direction: column;
//         text-align: center;
//     } 
  
//     .container .sunsetImage figcaption {
      
//         font-size: .75rem;
//         padding: 2%;
//     }
  
//     .resLink {
//         font-size: .75rem;
       
  
//     }
  
  
// }
  
//   @media screen and (max-width: 600px) {
  
//     .container .sunsetImage figcaption {
  
//         font-size: .5rem;
//         padding: 2%;
//     }
  
//     .resLink {
//         font-size: .5rem;
//     }
    
    
  
//   }
  
  
  