html,
body {
  margin: 0px;
  height: 100%;
  // border: 1px solid black;

}




.playground_main_container {
  // position: relative;
    // justify-content: center;
    // display: inline-block;
    // flex-direction: row;
    // height: 900px;
    // width: 98%;
    // padding: 20px;
    // margin: 20px;
    // overflow: hidden;
    // border: 1px solid blue;
    // background: green;
    height: 100vh;

    // @media only screen and (max-width: 750px) {
  
    //   height: 300px;
  
  
      
    }
    
  