
  
 .mainDropdown-menu{
    position: absolute;
    z-index: 30;
    border-radius: 5px;
    background-color: rgb(84, 82, 82);
    top: 120%;
    width: auto;
    height: auto;
    color: white;
    font-size: 16px;
        
  }

  
  .mainDropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .mainDropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .mainDropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }