
.footer-category-container {
  /* font-size: 16px;
  color: red;
  text-align: center;
  max-height: 250px;
  border: 1px solid red;
  bottom: 0px;
  left: 50%; */
  position: absolute;
	  bottom: 10px;
	  width: 100%;
	//  background:  red;
    text-align: center;
    font-size: var(--fontSize_medium);
    font-weight: bold;

    ul {
      li {
        
        display: inline;
        margin: 0 10% 0;
        
        a {
          
          color: blue;
          text-decoration: var(--text-decoration-line);
        }

      }
      
      
    }
} 


