
.footer-category-container {
    position: absolute;
	  bottom: 10px;
	  width: 100%;
    text-align: center;
    font-size: var(--fontSize_medium);
    font-weight: bold;

    ul {
      li {
        
        display: inline;
        margin: 0 10% 0;
        
        a {
          
          color: blue;
          text-decoration: var(--text-decoration-line);
        }

      }
      
      
    }


    @media only screen and (max-width: 750px) {

      bottom: 30px;
      right: 5%;
      
      ul {
        li {
          
          display:block;
          margin: 0 10% 0;
          text-align: center;
          
          a {
            
            color: blue;
            text-decoration: var(--text-decoration-line);
          }
  
        }
        
        
      }
      
    }
  
    @media only screen and (max-width: 1400px ) and (min-width: 751px) {
      
    }
  
    @media only screen  and (min-width: 1500px) {
      
    }





} 


