 .header-container {
    /* font-size: var(--fontSize_Large); */
    font-size: var(--fontSize_xxLarge);
    color: blue;
    max-height: 50px;
    /* border: 1px solid blue; */
    position: absolute;
	  top: 40px;
	  width: 100%;
	  /* background:  red; */
    text-align: center;
  } 


