.dropdownItem {
    display: flex;
    // width: 100%;
    outline: none;
    border: none;
    padding: 0 10px;
    margin: 3%;
    background: none;
    text-decoration: none;         //                 code change
    user-select: none;
    color: hsl(207 11.1% 85.9%);
    //height: 35px;
    font-size: 16px; //16px                               code change
    white-space: nowrap;

    &:hover {
      // cursor: pointer;
      // background-color: hsla(259, 70%, 54%, 50%);
      color: hsl(206 30% 98.8%);
      border-radius: 5px;
    }
    
  }

 