.project_dropdownItem {
    display: flex;
    outline: none;
    border: none;
    padding: 0 10px;
    background: none;
    text-decoration: none;         //                 code change
    color: hsl(207 11.1% 85.9%);
    font-size: var(--fontSize_medium);  // font size is 16px
    overflow-y: auto;

    &:hover {
      cursor: pointer;
      color: hsl(206 30% 98.8%);
      border-radius: 5px;
    }
    
  }

 