// * {
//   box-sizing: border-box;
//   margin: 0;
// }

body {
margin: 0;
 font-family: Arial;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-image: linear-gradient(to bottom left, rgb(51, 50, 50), rgb(247, 247, 247));
//  height: 100%;
// margin: 0;
// background-repeat: no-repeat;
background-attachment: fixed;
// background-size: cover;
// background-position: center;
// width: 100%;
// height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  justify-content: space-around;
  //border: 1px solid black;
  display: flex;
  height: 300px;
  padding: 20px;
  margin: 20px;
  
}

.myImage-container {

  width: 50%;
  //border: 1px solid rgb(219, 18, 18);



  .myFace{
    position: absolute;
    top: 10%;
    right: 8%;
    height: 55%;
    width: 27%;
    border-radius: 50%;
  }

}

.repositoryLink {
  position: relative;
  text-decoration: none;
  color: white;
  background-color: rgb(84, 82, 82);
  padding:.5% 1% 1% 1%;
  border-radius: 10%;
  top: 15%;
  left: 18%;

}


.pageInfoLinks {
  position: relative;
  
  top: 10%;

  
  
  

  
      li {
  display: inline;
  padding: 3%;

  a {
    text-decoration: none;
    color: white;
    background-color: rgb(84, 82, 82);
    padding:.5% 1% 1% 1%;
    border-radius: 10%;


    
  }

  a:hover {
    text-decoration: underline;
  }

}

}



.pageImgLinks {
  position: absolute;
  bottom: 30%;
  right: 13%;
  width: 15%;



  
      li {
  display: inline;
  padding: 3%;

  a {
  
    text-decoration: none;
    color: white;

    
  }

  a:hover {
    text-decoration: underline;
  }

}
  


}




.myInfo-container {
  position: relative;;
  top: 200px;
  padding-left: 200px;
  text-align: left;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;;
  width: 50%;
  text-align: left;

  li {
    display: inline;

    a {
      text-decoration: none;

      
    }

    a:hover {
      text-decoration: underline;
    }

}

  //font-size: 5rem;
  // line-height: 10;
}


h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

h3 span{
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}



// --------------------------------------------------------------------------------------------------------------------

.dropdown-menu{
  position: absolute;
  z-index: 30;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 1.1%;
  background-color: rgb(84, 82, 82);
  color: white;
  width: 150px;
  height: auto;
  
  
  ul {
    li {
      display: flex;
      font-size: 16px;
      
  
      a {
        text-decoration: none;
        background-color: rgb(84, 82, 82);
        margin: 1%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;

        
        
      }
  
      a:hover {
        text-decoration: underline;
      }
  
  }
  }
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}



// .dropdown-menu ul li{
//   padding: 10px 0;
//   border-top: 1px solid rgba(0, 0, 0, 0.05);


// }

.dropdown-menu ul li:hover {
  opacity: .5;
  cursor: pointer;
}

//.dropdownItem {
  //display: flex;
  //margin: 10px auto;

//}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}



// ---------------------------------------------------------------------------------------------------

.contactDropdown-menu{
  position: absolute;
  z-index: 30;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 1.1%;
  background-color: rgb(84, 82, 82);
  color: white;
  width: 300px;
  height: auto;
 
  
  
  ul {
    li {
      display: flex;
      font-size: 16px;
      
  
      a {
        text-decoration: none;
        background-color: rgb(84, 82, 82);
        margin: 1%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;

        
        
      }
  
      a:hover {
        text-decoration: underline;
      }
  
  }
  }
}

.contactDropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.contactDropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.contactDropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}



// .dropdown-menu ul li{
//   padding: 10px 0;
//   border-top: 1px solid rgba(0, 0, 0, 0.05);


// }

.contactDropdown-menu ul li:hover {
  opacity: .5;
  cursor: pointer;
}

//.dropdownItem {
  //display: flex;
  //margin: 10px auto;

//}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

