* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
   font-family: Arial;
   color: rgb(255, 255, 255);
   background-image: linear-gradient(to bottom left, rgb(51, 50, 50), rgb(247, 247, 247));
  //  height: 100%;
  // margin: 0;
  // background-repeat: no-repeat;
  background-attachment: fixed;
  // background-size: cover;
  // background-position: center;
  // width: 100%;
  // height: 100%;
  }
  
  // .main-container {
  //   min-width: 100%;
  //   border: 1px solid black;
  //   //display: flex;
  //   height: 800px;
    
  
  
    
  
    
  
  
  
  // .myFace{
  //   position: absolute;
  //   top: 200px;
  //   right: 200px;
  //   height: 500px;
  //   width: 500px;
  //   border-radius: 50%;
  // }
  
  // .myName {
  //   position:absolute;
  //   top: 300px;
  //   left: 300px;
  //   text-align: left;
  //   font-family: cursive;
  //   font-size: 5rem;
  //   // line-height: 10;
  // }
  
  // .myTitle {
  //   position:absolute;
  //   top: 400px;
  //   left: 325px;
  //   text-align: left;
  //   font-family: cursive;
  //   font-size: 3rem;
  //   // line-height: 10;
  // }